rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: Permissive rules for debugging only. All users can read and write everything.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
